<!-- dashboard.html.erb -->

<h1>Dashboard</h1>

<% @user_pokemons.each do |pokemon| %>
  <h3><%= pokemon.name %></h3>
    <p> Category: <%= pokemon.category %></p>
    <p> Level: <%= pokemon.level %></p>
    <p><strong> Price: <%= pokemon.price %>€</strong></p>
    <p>(<%= link_to 'delete', pokemon_path(pokemon), method: :delete %>)</p>
    <p>(<%= link_to 'edit', edit_pokemon_path(pokemon) %>)</p>
<% end %>

<%= link_to "Add a pokemon", new_pokemon_path %>

