<br>


<div class="d-flex justify-content-around my-4 mx-4">
  <div class="pokeball" id="normal"></div>
  <div class="pokeball" id="normal"></div>
 <div class="pokeball" id="normal"></div>
  <h1 class="px-4">Welcome to <%= link_to "PokeMarket", pokemons_path, class:"title" %></h1>
  <div class="pokeball" id="normal"></div>
  <div class="pokeball" id="normal"></div>
  <div class="pokeball" id="normal"></div>
</div>

<br>
<div class="cards" id="landing">
  <%= link_to pokemons_path(:query => "pikachu") do %>
    <div class="card-gray">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path("Pokemon market/pikachu_dsgefu.jpg", crop: :fill )%>')">
        Pikachu
      </div>
    </div>
  <% end %>

  <%= link_to pokemons_path(:query => "charizard") do %>
    <div class="card-gray">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path("Pokemon market/Charizard_x4n8hn.png", crop: :fill )%>')">
        Charizard
      </div>
    </div>
  <% end %>

  <%= link_to pokemons_path(:query => "bulbisaur") do %>
    <div class="card-gray">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path("Pokemon market/Bulbasaur_nlifv7.png", gravity: :face)%>')">
        Bulbasaur
      </div>
    </div>
  <% end %>
</div>

<%= audio_tag "Pokemon-3.mp3", autoplay: true %>


<!-- <embed src="../songs/Pokemon.mp4" autostart="true" loop="true" hidden= "true"><embed> -->

