<div class="cards" id="index">
  <% @pokemons.each do |pokemon| %>
    <div class="flip-card">

        <div class="card-trip flip-card-inner">

            <div class="flip-card-front <%= pokemon.onsale? ? 'onsale' : 'front-offsale' %>">
              <% if pokemon.photoseed.nil? %>
              <%= cl_image_tag pokemon.photo,crop: :fill, gravity: :face, class: 'flip-img' %>
              <% else %>
              <%= image_tag pokemon.photoseed,crop: :fill, gravity: :face, class: 'flip-img' %>
              <% end %>

              <div class="card-trip-infos">
                <div class="card-trip-headline">
                  <h3><%= pokemon.name %></h3>
                  <h2><%= pokemon.price %>€</h2>
                </div>
                <p class="mt-2">Category: <%= pokemon.category %></p>
                <p>Level: <%= pokemon.level %></p>
              </div>
            </div>

            <div class="flip-card-back <%= pokemon.onsale? ? 'onsale' : 'back-offsale' %>">
              <div class="card-trip-infos">
                <div class="card-trip-headline">
                  <h3><%= pokemon.name %></h3>
                  <h2><%= pokemon.price %>€</h2>
                </div>
                <p class="mt-2">Owner: <%= pokemon.user.username %> </p>
                <p>Category: <%= pokemon.category %></p>
                <p>Level: <%= pokemon.level %></p>
                <p>Description: <%= pokemon.description %> </p>
                <div class= "d-flex justify-content-around mt-4">
                  <div>
                  <% if pokemon.onsale? && pokemon.user != current_user %>
                    <%= link_to "Buy", pokemon_transactions_path(pokemon), method: :post, class: "customer-btn"%>
                  <% end %>
                  </div>
                  <div>
                  <% if pokemon.user != current_user %>
                    <%= link_to "Wishlist", pokemon_dashboard_path(pokemon), method: :post,  class: "customer-btn" %>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  <% end %>
</div>


