<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PokeMarket</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <style type="text/css">* {cursor: url(http://cur.cursors-4u.net/games/gam-12/gam1191.cur), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2011/01/24/pikachu-15.html" target="_blank" title="Pikachu"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Pikachu" style="position:absolute; top: 0px; right: 0px;" /></a>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="container mt-4 page-wrapper">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
